<div class="products py-5">
    <div class="container text-center py-3">
        <h2 class="text-primary">Suggest Products</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="container">
        <div class="row g-5">
            @for(product of suggestProducts;track product.recipe_id){

            <div class="col col-lg-4 ">
                <div class="border rounded text-center overflow-hidden">
                    <img [src]="product.image_url" [alt]="product.title">
                    <div class="p-3">
                        <h3>{{product.title}}</h3>
                        <p><strong class="text-primary">${{product.price}}</strong></p>
                        <p>{{product.publisher}}</p>
                        <button class="btn btn-primary mt-3">Add to card</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>